h1 {
    color: #6a5e72
}

.section-content .headline {
    color: #6a5e72;
    /*padding: 10px 10px 0;*/
}
.benefit-title {
    color: #8e6a8e;
    font-size: 22px;
    font-weight: 700;
    line-height: 1.1;
    padding-top: 20px;
}
.slick-dots li.slick-active button{
    background: #f1a783;
}
.background{
    background: url(ivt/bg-tree.jpg) no-repeat top right;
}