@font-face {
    font-family: Helvetica Neue Cyr;
    src: url(fonts/HelveticaNeueCyr-Light.ttf);
}
@font-face {
    font-family: Helvetica Neue Cyr;
    src: url(fonts/HelveticaNeueCyr-Bold.ttf);
    font-weight: bold;
}
body{
    font-family: "Helvetica Neue Cyr";
}
header {
    position:relative;
    top:0;
    color:#1c1d21;
}
header .logo-icon {
    background:url(main/css/../i/logo-color.png) no-repeat;
    width:63px;
    height:63px;
    margin-right:16px
}
header .logo-text {
    font-size:18px;
    text-transform:uppercase;
    line-height:1.25;
    padding: 0;
    font-weight: normal;
}
header .header-tel {
    margin-left:0;
    font-weight:700;
    color:#1c1d21
}

header .header-btn {
    border-width:2px;
    margin-left:0
}

header .header-btn {
    border-width: 2px
}

.social-icon {
    align-items:center;
    justify-content:center;
    width:50px;
    height:50px;
    margin-left:15px;
    margin-right:15px;
    border-radius:25px;
    opacity: .4;
    transition:background-color .15s ease-in-out;
    display: table-cell;
}
div.social-icon.instagram{
    opacity: .9;
}
header .logo-text {
    font-size:18px;
    text-transform:uppercase;
    line-height:1.25
}
header .header-tel {
    margin-left:0;
    font-weight:700;
    color:#8a8a8a
}
.header-tel span {
    color:#4c9c00
}
header .header-btn {
    border-width:2px;
    margin-left:0
}
@media (min-width:768px) {
    header .header-tel+.header-btn {
        margin-left:50px
    }
    header .header-tel+.header-tel {
        margin-left:25px
    }
}

section.section-programs {
    padding-top: 80px;
    padding-bottom: 80px
}

section.section-programs .section-title {
    max-width: 540px;
    margin-bottom: 40px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 32px
}

@media (min-width:576px) {
    section.section-programs .section-title {
        padding-left: 0;
        padding-right: 0
    }
}

.programs-list,
.programs-list a,
.programs-list a:hover {
    color: #fff
}

.programs-list {
    margin-left: 0!important;
    margin-right: 0!important;
    padding-bottom: 10px;
    justify-content: space-around;

}

.programs-list .program-item {
    display: block;
    max-width: 580px;
    min-width: 375px;

    margin: 23px auto;
    border-radius: 0
}

.programs-list .program-item{
    background-color: #4c9c00
}


.programs-list .program-item .program-subject {
    padding-left: 30px;
    padding-top: 30px
}

.programs-list .program-item .program-title {
    display: flex;
    align-items: center;
    font-size: 26px;
    font-weight: 700;
    text-align: left;
    text-transform: uppercase;
    padding-left: 30px;
    padding-right: 5px;
    background: no-repeat 40px center;
    line-height: 1.2;
    height: 115px
}

.programs-list .program-item .program-title {
    font-size: 30px
}

.programs-list .program-item .program-sep {
    width: 100%;
    height: 2px;
    background: #fff;
    opacity: .1
}


.programs-list .program-item .program-text {
    opacity: .65;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 1
}


@media (max-width:450px) {
    .programs-list .program-item .program-title {
        font-size: 24px!important
    }
    .programs-list .program-item--mened .program-title {
        font-size: 16px!important
    }
}

@media (min-width:576px) {
    .programs-list .program-item {
        border-radius: 20px;
    }
    .programs-list .program-item .program-title {
        padding-left: 30px;
        padding-right: 30px;
        background-position-x: 45px
    }
    .programs-list .program-item--mened .program-title {
        font-size: 24px
    }
}

@media (min-width:768px) {
    .programs-list {
        margin-left: -8px!important;
        margin-right: -8px!important
    }
}

@media (min-width:992px) {
    .programs-list .program-item {
        margin: 23px 8px
    }
    .programs-list .program-item .program-title {
        height: 145px
    }
    .programs-list .program-item--buh .program-title {
        font-size: 25px
    }
}

@media (min-width:1200px) {
    .programs-list .program-item .program-title {
        height: 115px
    }
    .programs-list .program-item .program-title {
        font-size: 25px
    }
}

.master-programs-list,
.master-programs-list a,
.master-programs-list a:hover {
    color: #1c1d21
}

.master-programs-list {
    display: flex;
    flex-direction: column;
    align-items: center
}

@media (min-width:992px) {
    .master-programs-list {
        flex-wrap: wrap;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-around
    }
}

@media (min-width:1200px) {
    .master-programs-list {
        justify-content: space-between
    }
}

.master-programs-list .program-item {
    position: relative;
    display: block;
    width: 375px;
    height: 225px;
    margin-bottom: 25px;
    padding: 30px 50px 25px 35px;
    border-radius: 8px;
    background: #fff
}

.master-programs-list .program-item--empty {
    background-color: transparent;
    opacity: 0
}

.master-programs-list .program-item:before {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    bottom: 0;
    width: 8px;
    border-radius: 8px 0 0 8px;
    transition: width 0.15s ease-in-out;
    content: ''
}

.master-programs-list .program-item:hover:before {
    width: 20px
}

.master-programs-list .program-item:after {
    position: absolute;
    z-index: 1;
    top: 50%;
    right: 25px;
    margin-top: -7px;
    background: url(main/i/card-arrow.png) no-repeat -20px center;
    width: 20px;
    height: 14px;
    opacity: 0;
    transition: opacity 0.15s ease-in-out, background-position 0.15s ease-in-out;
    content: ''
}

.master-programs-list .program-item:hover:after {
    opacity: 1;
    background-position-x: 0
}

.master-programs-list .program-item--ip:before {
    background: #009698
}

.master-programs-list .program-item--cm:before {
    background: #22b2b7
}

.master-programs-list .program-item--tb:before {
    background: #517ab8
}

.master-programs-list .program-item--nef:before {
    background: #554fb1
}

.master-programs-list .program-item--emp:before {
    background: #5175a7
}

.master-programs-list .program-inner {
    display: flex;
    flex-direction: column;
    height: 100%
}

.master-programs-list .program-subject {
    flex-shrink: 0;
    opacity: .5;
    padding-bottom: 15px;
    font-size: 14px;
    text-transform: uppercase
}

.master-programs-list .program-title {
    flex-grow: 1;
    line-height: 1.2;
    font-size: 20px;
    font-weight: 700
}

.master-programs-list .program-footer {
    flex-shrink: 0;
    font-size: 14px;
    font-weight: 500;
    color: #767676
}

.master-programs-list .program-footer__item {
    display: inline-block;
    background: transparent no-repeat left center
}

.master-programs-list .program-footer__item+.program-footer__item {
    margin-left: 30px
}

.master-programs-list .program-footer__item.user {
    padding-left: 20px;
    background-image: url(main/i/icons/ic-user.svg);
    background-size: 13px
}

.master-programs-list .program-footer__item.time {
    padding-left: 22px;
    background-image: url(main/i/icons/ic-time.svg);
    background-size: 10px
}

.master-programs-list .program-footer__item.period {
    padding-left: 27px;
    background-image: url(main/i/icons/ic-book.svg);
    background-size: 16px
}

footer {
    position: relative;
    z-index: 2
}
.places {
    background-image: url(new_landing/icons8-man-20.png);
}
.years {
    background-image: url(new_landing/icons8-clock-20.png);
}
.learn {
    background-image: url(new_landing/icons8-open-book-20.png);
}
.program-row {
    display: flex;
    flex-direction: row;
    align-content: space-around;
    height: 60px;
    justify-content: space-between;
    padding: 0 30px;
    align-items: center;
}
.program-icon {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}


.programs-list .program-item .program-text {
    opacity: .65;
    font-size: 12px;
    line-height: 1;
    display: table-cell;
    vertical-align: middle;
}
.container-wide {
    margin: 20px;
    max-width: 1440px;
    align-content: center;
    margin-right: auto;
    margin-left: auto;
}
section.section-programs {
    padding-top: 80px;
}




.modal-dialog-custom {
    margin-top: 5rem;
    color: #1c1d21
}

@media (min-width:1200px) {
    section .container {
        max-width: 1180px
    }
}


.programs-list .program-item {
    background-color: #ffffff
}

.programs-list,
.programs-list a,
.programs-list a:hover {
    color: #000
}
.programs-list .program-item .program-subject {
    padding-left: 30px;
    padding-top: 30px;
    color: gray;
}
.programs-list .program-item .program-title {
    max-width: 175px;
}
.programs-list .program-item .program-cond {
    display: table;
}

.table-flex{
    display: flex;
}


/*ivt*/
.light-grey-holder {
    background: #ebebeb;
    display: flex;
    flex-direction: column;
}
.headline {
    text-align: center;
    font-size: 36px;
    padding: 100px 0;
    font-weight: bold;
}
.light-grey-holder .headline {
    color: #3e9983;
}
.light-grey-holder1 {
    background: #ebebeb;
    display: flex;
    flex-direction: column;
}
.light-grey-holder1 .headline {
    color: #6a5e72;
}

.white-holder .headline {
    background: white;
    color: #456c7a;
}
.white-holder1 .headline {
    color: #6a5e72;
}

.white-holder2 .headline {
    background: white;
    color: #b16763;
}

.green-gradient-holder {
    background-image: url(main/i/green-gradient.jpg);
    background-size: 100%;
    padding: 130px 240px;
}
.left-right-container {
    max-width: 1440px;
    width: 75%;
    min-height: 520px;
    min-width: 375px;

    background: white;
    border-radius: 40px;
    align-self: center;
    position: relative;
}
.left-right-container .arrow-right{
    background-image: url(new_landing/icons8-double-arrow-right-100.png);
    position: absolute;
    top: 50%;
    right: 40px;
    width: 35px;
    height: 35px;
    max-width: 35px;
    max-height: 35px;
    z-index: 5;

}
.left-right-container .arrow-left{
    background-image: url(new_landing/icons8-double-arrow-left100.png);
    position: absolute;
    top: 50%;
    left: 40px;
    width: 35px;
    height: 35px;
    max-width: 35px;
    max-height: 35px;
    z-index: 5;
}

.left-right-container .left-right-content{
    min-width: 100%;
}
.left-right-container .item{
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    float: left;
    padding: 30px 100px;
}
.left-right-content .item .photo {
    max-width: 50%;
    max-height: 100%;
    position: relative;
    top: 50%;
    padding: 17px;
    transform: translateY(-50%);

}
.left-right-content .item .photo .photo-item{
    max-width: 100%;
    max-height: 100%;
    vertical-align: middle;
    object-fit: contain;
    display: block;

}


.left-right-content .item .info{
    width: 50%;
    position: absolute;
    padding-left: 17px;
    padding-right: 10%;
    right: 0;
    top:0;
    bottom: 0;
}
.left-right-content .item .info .info-name{
    padding-top: 100px;
    font-size: 25px;
    font-weight: bold;
}
.left-right-content .item .info .info-text{
    padding-top: 60px;
    font-size: 18px;
    width: 100%;

}
.left-right-content .slick-list{
    min-height: 100%;
}
.left-right-content .slick-list .slick-track{
    min-height: 100%;
}
.dots{
    margin-top: 70px;
    margin-bottom: 140px;
}
.dots .slick-dots{
    position: center;
    bottom: initial;
}

.dots .slick-dots li{
    position: center;
    width: 18px;
    height: 18px;
    border-radius: 50%;
}
.slick-dots li button{
    width: 18px;
    height: 18px;
    background: #cccccc;
    border-radius: 50%;
}
.slick-dots li.slick-active button{
    background: #7ac6cc;
}

.slick-dots li button::before{
    all: initial;
}


.program-target{
    max-width: 950px;
    justify-self: center;
}
.program-holder {
    display: grid;
    align-items: center;
}
.qualification-list{
    max-width: 950px;
    display: table-row;
    justify-items: center;
}




.gradient-navbar{
    background-image: url(main/i/green-gradient.jpg);
}
.gradient-navbar.navbar-bakalavriat{
    background-image: url(main/i/red-gradient.jpg);
}
.nav-container{
    background-color: #f2f2f2;
    width: 75%;
    min-width: 355px;
    height: auto;
    position: relative;
    align-self: center;
    border-radius: 20px;
    display: flex;
}
.questions-container{
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
}
.gradient-navbar{
    background-size: 100%;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
}
.gradient-navbar.navbar-right{
    border-bottom-right-radius: inherit;
    border-top-right-radius: inherit;

}
.gradient-navbar.navbar-left{
    border-bottom-left-radius: inherit;
    border-top-left-radius: inherit;

}

.gradient-navbar .choices{
    position: relative;
    border-radius: inherit;
}
.gradient-navbar .choices div.choice{
    font-size: 18px;
    vertical-align: center;
    text-align: left;

}
.choice-wrap{
    color: white;
    width: 100%;
    padding-left: 100px;
    padding-top: 30px;
    padding-bottom: 30px;
    cursor: pointer;
    background: none;
    border-width: 0;

}
.choice-wrap.chosen, .choice-wrap:hover{
    background: linear-gradient(90deg, #c7e699 0%, #c8e39b 100%);
    color: black;
}
.navbar-bakalavriat .choice-wrap.chosen, .navbar-bakalavriat .choice-wrap:hover{
    background: linear-gradient(90deg, #f4e5b1 0%, #fdeaab 100%);
    color: black;
}

.navbar-right .choice-wrap.chosen:first-child{
    border-top-right-radius: inherit;
}
.navbar-left .choice-wrap.chosen:first-child{
    border-top-left-radius: inherit;
}
.navbar-right .choice-wrap:first-child:hover{
    border-top-right-radius: inherit;
}
.navbar-left .choice-wrap:first-child:hover{
    border-top-left-radius: inherit;
}

.gradient-navbar .choices div.choice-wrap-after{
    background: linear-gradient(90deg, #3b8b97 0%, #7fcbb1 100%);

    height: 1px;
    content: '';
    max-height: 1px;
    width: 100%;
    position: absolute;
    left: 0;
}
.gradient-navbar.navbar-bakalavriat .choices div.choice-wrap-after{
    background: linear-gradient(90deg, #915493 0%, #e88958 100%);
}
.nav-container .answers{
    width: 50%;
}
.nav-container .answers .answer{
    display: none;
}
.nav-container .answers .answer.visible{
    display: block;
    padding: 30px;

}
.arrow-holder{
    display: flex;
    justify-content: center;
    margin-top: 60px;
    margin-bottom: 40px;
}
.arrow-holder .arrow-down{
    background: url(new_landing/icons8-double-arrow-down-100.png);
    height: 50px;
    width: 50px;
    background-size: cover;
}

.answer-headline{
    padding: 20px 70px;
    font-size: 22px;
    font-weight: bold;
}
.answer-text{
    padding: 50px 70px 0 70px;
    font-size: 17px;
}



@media (max-width: 1000px) {
    .nav-container{
        flex-direction: column;
    }
    .nav-reverse{
        flex-direction: column-reverse;
    }
    .gradient-navbar.navbar-right, .gradient-navbar.navbar-left, .nav-container .answers{
        width: 100%;
        height: 50%;
        border-top-left-radius: inherit;
        border-top-right-radius: inherit;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
    

    .choice-wrap{
        padding: 30px 0;
    }
    .gradient-navbar .choices div.choice{
        text-align: center;
    }
    .answer-headline{
        padding: 30px;
    }
    .answer-text{
        padding: 30px;
    }
}
@media (max-width: 500px) {

}

body {
    background-color: #fff;
    color: #464646
}

a,
a:hover {
    color: #fff
}
h1 {
    color: #456c7a
}

.btn-danger {
    color: black;
    background-color: #d7ec9d;
    border-color: #d7ec9d
}
.btn-danger1 {
    color: black;
    background-color: #fff5b4;
    border-color: #fff5b4
}

.btn-danger:hover,
.btn-danger:not(:disabled):not(.disabled).active,
.btn-danger:not(:disabled):not(.disabled):active {
    color: #fff;
    background-color: #d7ec9d;
    border-color: #d7ec9d
}
.btn-danger1:hover,
.btn-danger1:not(:disabled):not(.disabled).active,
.btn-danger1:not(:disabled):not(.disabled):active {
    color: #000;
    background-color: #fff5b4;
    border-color: #fff5b4
}
.benefit-item {
    width: 100%;
    padding-bottom: 60px;
    background: transparent no-repeat;
   

}

.benefit-title {
    color: #4d94a1;
    font-size: 22px;
    font-weight: 700;
    line-height: 1.1;
    padding-top: 20px;

}

.benefit-text {
    font-size: 14px;
    padding: 10px;

}
.benefit-target{
    background-image: url(new_landing/icons8-target-100.png);
}
.benefit-suitcase{
    background-image: url(new_landing/icons8-suitcase-100.png);
}
.benefit-hat{
    background-image: url(new_landing/icons8-academy-hat-100.png);
}
.benefit-graph{
    background-image: url(new_landing/icons8-graph-100.png);
}
.benefit-programming{
    background-image: url(new_landing/icons8-programming-100.png);
}
.benefit-task{
    background-image: url(new_landing/icons8-parallel-task-100.png);
}
.statistic-block1 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 250px;
    text-align: center;
    border: #f0ae8d solid 15px;
    border-radius: 50%
}

.statistic-block1 .stat-title {
    color: #b16763;
    font-size: 30px;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 20px
}

.statistic-block1 .stat-text {
    font-size: 14px;
    line-height: 1.5color: #b16763;
    color: #b16763;
}
.statistic-block {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 250px;
    text-align: center;
    border: #85cacf solid 15px;
    border-radius: 50%
}

.statistic-block .stat-title {
    color: #456c7a;
    font-size: 30px;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 20px
}

.statistic-block .stat-text {
    font-size: 14px;
    line-height: 1.5color: #456c7a;
    color: #456c7a;
}

.step-items {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start
}

.step-item {
    position: relative;
    width: inherit;
    max-width: 100%;
    padding-top: 0;
    padding-bottom: 65px;
    padding-left: 120px!important;
    background: transparent no-repeat left top;
    background-size: 85px auto;
    text-align: left
}

.step-item::before,
.step-item::after {
    position: absolute;
    display: none;
    background: #373e4a;
    opacity: .5;
    content: ""
}

.step-item:first-child::before {
    display: none
}

.step-item:last-child::after {
    display: none
}

.step-item .step-title {
    font-weight: 700;
    color: #428700;
    font-size: 22px;
    line-height: 1.1;
    margin-bottom: 25px
}

.step-item--4 .step-title {
    color: #de6800
}

.step-item .step-text {
    font-size: 14px
}

.step-item .step-number {
    position: absolute;
    top: 0;
    bottom: inherit;
    left: -95px;
    display: none;
    align-items: center;
    justify-content: center;
    width: 67px;
    height: 67px;
    margin-top: 0;
    margin-left: 0;
    border-radius: 50%;
    background-color: rgba(118, 139, 170, 1);
    color: #1c1d21;
    font-size: 40px;
    font-weight: 700
}

.step-item--1 .step-number {
    background-color: rgba(118, 139, 170, .15)
}

.step-item--2 .step-number {
    background-color: rgba(118, 139, 170, .25)
}

.step-item--3 .step-number {
    background-color: rgba(118, 139, 170, .35)
}

.step-item--4 .step-number {
    background-color: rgba(118, 139, 170, .45)
}

@media (min-width:576px) {
    .step-items {
        align-items: center
    }
    .step-item {
        width: 375px
    }
    .step-item::before,
    .step-item::after {
        left: -63px;
        right: inherit;
        width: 3px;
        height: inherit
    }
    .step-item::after {
        display: block;
        top: 67px;
        bottom: 0;
        margin-left: 0;
        margin-top: 10px;
        margin-bottom: 10px
    }
    .step-item .step-number {
        display: flex
    }
}

@media (min-width:992px) {
    .step-items {
        flex-direction: row;
        align-items: stretch;
        justify-content: space-between
    }
    .step-item {
        flex: 0 0 25%;
        max-width: 25%;
        width: inherit;
        padding-top: 200px;
        padding-bottom: 140px;
        padding-left: 0!important;
        background-position: top center;
        background-size: auto auto;
        text-align: center
    }
    .step-item::before,
    .step-item::after {
        top: inherit;
        bottom: 31px;
        width: inherit;
        height: 3px
    }
    .step-item::before {
        display: block;
        left: 0;
        right: 50%;
        margin-right: 45px
    }
    .step-item::after {
        left: 50%;
        right: 0;
        margin-left: 45px;
        margin-top: 0;
        margin-bottom: 0
    }
    .step-item .step-number {
        top: inherit;
        bottom: 0;
        left: 50%;
        margin-top: 0;
        margin-left: -33px
    }
    .step-item .step-text {
        padding-left: 4px;
        padding-right: 4px
    }
}
section.section-welcome{
 background: none;
 position: static;
}
section.section-welcome .background{
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
}


section.section-welcome .section-content {
    padding-top: 70px;
    padding-bottom: 95px
}

section.section-welcome .container {
    padding-left: 15px;
    padding-right: 15px
}

section.section-welcome h1 {
    width: 100%;
    margin-bottom: 35px;
    font-weight: 700;
    font-size: 40px;
    text-align: left
}

section.section-welcome p {
    width: 100%;
    line-height: 1.4;
    text-align: left
}

@media (min-width:576px) {
    section.section-welcome h1 {
        font-size: 60px
    }
    section.section-welcome .container {
        padding-left: 0;
        padding-right: 0
    }
}

@media (min-width:992px) {
    section.section-welcome {
        padding-top: 81px
    }
    section.section-welcome .section-content {
        padding-bottom: 70px
    }
    section.section-welcome h1 {
        width: 100%
    }
    section.section-welcome p {
        width: 75%
    }
}

@media(max-width: 500px){
    section.section-welcome .section-content {
        padding-bottom: 30px
    }

}
section.section-welcome .course-item {
    width: 100%;
    padding: 10px 25px 10px;
    color:#7d7d7d

}
.course-item-benefit{
    display: flex;
    align-content: center;
}
section.section-welcome .course-item__label {
    color: #464646b4;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 1
}

section.section-welcome .course-item__value {
    color: black;
    line-height: 1;
    margin-top: 13px
}

@media (min-width:992px) {
    section.section-welcome .course-item {
        width: 290px;
        padding-bottom: 0
    }
}
section.section-request{
    padding: 50px 0;
    background: white;
}

section.section-request.top {
    margin-top: -170px
}

@media (min-width:992px) {
    section.section-request.top {
        margin-top: -115px
    }
}

.request-row {
    background: #4c9c00;
    border-radius: 0
}

.request-row .request-separator {
    width: 100%;
    height: 2px;
    background: #fff;
    opacity: .15
}

.request-block {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    padding: 15px 20px
}

.request-block--top {
    align-items: flex-start
}

.request-block--bottom {
    align-items: flex-start
}

.request-block .request-title {
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase
}

.request-block .request-action {
    align-self: center;
    margin-top: 15px
}

.request-block .course-item {
    width: 100%;
    padding-bottom: 30px
}

.request-block .course-item__label {
    opacity: .3;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 1
}

.request-block .course-item__value {
    line-height: 1;
    margin-top: 13px;
    font-size: 30px;
    font-weight: 700
}

@media (min-width:576px) {
    .request-row {
        border-radius: 10px
    }
}

@media (min-width:992px) {
    .request-block {
        padding: 20px 40px
    }
}

@media (min-width:992px) {
    .request-block {
        justify-content: space-between
    }
    .request-block--top {
        flex-direction: row;
        align-items: center
    }
    .request-block--bottom {
        flex-direction: row
    }
    .request-block .request-action {
        margin-top: 0
    }
    .request-block .course-item {
        width: 290px;
        padding-bottom: 0
    }
}

section.section-benefits {
    padding-top: 100px;
    padding-bottom: 60px
}

section.section-benefits .container {
    padding-left: 15px;
    padding-right: 15px
}

@media (min-width:576px) {
    section.section-benefits .container {
        padding-left: 0;
        padding-right: 0
    }
}

@media (min-width:992px) {
    section.section-benefits {
        padding-top: 100px;
        padding-bottom: 60px
    }
}

section.section-why {
    padding-bottom: 60px
}

section.section-why .section-title {

    font-size: 32px;
    color: #3e9983;
    padding-top: 40px;
    margin-bottom: 30px;

}

section.section-why .section-text {
    text-align: left;
    font-size: 16px;
}

section.section-why .left-block {
    max-width: 100%
}

section.section-why .right-block {
    margin-top: 50px;
    align-self: center
}

section.section-why .container {
    padding-left: 15px;
    padding-right: 15px
}
.circle {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 130px;
    height: 130px;
    text-align: center;
    background-color: white;
    margin-left: 30px;
    border-radius: 50%
        
}
.circle-title {
    color: #b97672;
    font-weight: 700;
     font-size: 20px;
}



.text {
    text-align: center;
    font-size: 16px;
}

.li_style {
    list-style: none; /* Скрываем маркеры списка */
    text-indent: -1em; /* Сдвигаем элементы списка влево */
    padding: 10px 70px;
}

.li_style::before {
    content: '\25c9'; /* Добавляем маркер в шестнадцатеричном формате*/
    padding-right: 15px; /* Расстояние от маркеров до текста */
    font-size: 30px;
    color: #b486a6; /* Маркеры  цвета */
    display: inline-block;
}

.li-text {
    background-color: #ebebeb;
    width: 100%;
    height: auto;
    position: relative;
    align-self: center;
    border-radius: 20px;
    display: flex;
    margin-bottom: 150px;
    justify-content: center;
}


.horizontal-line{
    width:100%;
    float:right; 
    background:#7f7f7f;
    border:none!important;
    border-radius:5px;
    height:1px;
}

@media (min-width:576px) {
    section.section-why .container {
        padding-left: 0;
        padding-right: 0
    }
}
@media(max-width: 576px){
    .circle{
        margin: 10px auto;
    }

}
@media (min-width:992px) {
    section.section-why {
        padding-bottom: 60px;
    }
    section.section-why .left-block {
        max-width: 600px
    }
    section.section-why .right-block {
        align-self: flex-start;
        margin-right: 50px
    }
}

@media (min-width:1200px) {
    section.section-why .left-block {
        max-width: 750px
    }
    section.section-why .right-block {
        margin-right: 100px
    }
}

section.section-results {
    padding-bottom: 100px
}

section.section-results .section-title {
    margin: 0 auto;
    margin-bottom: 30px;
    width: auto;
    color: #456c7a;
    text-align: center;
    margin-top: 70px;


}

section.section-results .section-title,
section.section-results .section-text {
    padding-left: 15px;
    padding-right: 15px
}

@media (min-width:576px) {
    section.section-results .section-title,
    section.section-results .section-text {
        padding-left: 0;
        padding-right: 0
    }
}

@media (min-width:992px) {
    section.section-results {
        padding-bottom: 150px
    }
}

.result-items {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    margin-top: 40px
}

.result-item {
    width: 370px;
    margin-bottom: 40px
}

.result-item .result-block {
    width: 100%
}

.result-item .result-pic {
    display: block;
    width: 100%;
    height: 194px;
    border-radius: 9px 9px 0 0;
    background: transparent no-repeat center center;
    background-size: cover
}

.result-item .result-title {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80px;
    background: #fff;
    color: #1c1d21;
    font-weight: 700;
    font-size: 22px;
    text-align: center;
    line-height: 1.1;
    border-radius: 0 0 9px 9px
}

.result-item .result-text {
    font-size: 14px;
    text-align: center;
    max-width: 290px;
    margin: 35px auto 0 auto
}

@media (min-width:992px) {
    .result-items {
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between
    }
    .result-item {
        width: 300px
    }
}

@media (min-width:1200px) {
    .result-item {
        width: 370px
    }
}

section.section-program {
    padding-bottom: 80px
}

@media (min-width:992px) {
    section.section-program {
        padding-bottom: 125px
    }
}

.program-table {
    margin-top: 40px
}

.program-table .row-header {
    margin-bottom: 25px;
    font-size: 16px
}

.program-table .row-header>[class*="col-"] {
    opacity: .4;
    text-transform: uppercase
}

.program-table .row>[class*="col-"]:first-child {
    padding-left: 40px;
    padding-right: 10px
}

.program-table .row>[class*="col-"]:last-child {
    text-align: center
}

.program-table .row:not(.row-header)+.row {
    margin-top: 20px
}

.program-table .row:not(.row-header)>[class*="col-"]:first-child {
    background: url(main/css/../i/radio-empty.png) no-repeat left 5px
}

.program-table .row:not(.row-header)>[class*="col-"]:last-child {
    color: #428700;
    font-weight: 700;
    font-size: 22px
}

section.section-skills {
    padding-top: 100px;
    padding-bottom: 60px
}

section.section-skills .section-title {
    margin: 0 auto;
    margin-bottom: 30px;
    width: auto;
    color: #456c7a;
    text-align: center;
    margin-top: 70px;


}
section.section-skills .container {
    padding-left: 15px;
    padding-right: 15px
}

@media (min-width:576px) {
    section.section-skills .container {
        padding-left: 0;
        padding-right: 0
    }
}

@media (min-width:992px) {
    section.section-skills {
        padding-top: 150px;
        padding-bottom: 110px
    }
}

section.section-specialists {
    padding-bottom: 110px
}

section.section-specialists .section-title {
    max-width: 690px;
    padding-left: 15px;
    padding-right: 15px
}

section.section-specialists .single-slider+.multi-slider {
    margin-top: 50px
}

@media (min-width:576px) {
    section.section-specialists .section-title {
        padding-left: 0;
        padding-right: 0
    }
}

@media (min-width:992px) {
    section.section-specialists {
        padding-bottom: 170px
    }
}

section.section-education {
    padding-bottom: 100px
}

section.section-education .container {
    padding-left: 15px;
    padding-right: 15px
}

@media (min-width:576px) {
    section.section-education .container {
        padding-left: 0;
        padding-right: 0
    }
}

@media (min-width:992px) {
    section.section-education {
        padding-bottom: 150px
    }
}

section.section-subscribe {
    padding-top: 60px;
    padding-bottom: 60px;
    background: url(main/css/../i/buh/bg-subscribe.jpg) no-repeat bottom center;
    background-size: cover
}

section.section-subscribe .section-title {
    text-transform: uppercase;
    max-width: 460px;
    padding-left: 15px;
    padding-right: 15px
}

@media (min-width:576px) {
    section.section-subscribe .section-title {
        padding-left: 0;
        padding-right: 0
    }
}

@media (min-width:992px) {
    section.section-subscribe {
        padding-top: 100px;
        padding-bottom: 100px
    }
}

.subscribe-blocks {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%
}

.subscribe-block {
    width: 100%
}

.subscribe-block--info,
.subscribe-block--info2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding-left: 15px;
    padding-right: 15px
}

.subscribe-blocks .course-item {
    line-height: 1;
    margin-bottom: 40px;
    width: 100%
}

.subscribe-blocks .course-item__label {
    opacity: .4;
    text-transform: uppercase;
    font-size: 16px
}

.subscribe-blocks .course-item__value {
    margin-top: 13px;
    font-size: 22px;
    font-weight: 700
}

.subscribe-block--form {
    padding: 30px;
    margin-bottom: 40px;
    border-radius: 10px;
    background: #fff
}

@media (min-width:576px) {
    .subscribe-blocks {
        flex-direction: row
    }
    .subscribe-block--info,
    .subscribe-block--info2 {
        padding-left: 0;
        padding-right: 0
    }
    .subscribe-block--form {
        padding: 50px
    }
}

@media (min-width:768px) {
    .subscribe-block--form {
        width: 400px
    }
    .subscribe-block--info {
        width: 280px
    }
    .subscribe-block--info2 {
        flex-direction: row
    }
    .subscribe-block--info2 .course-item {
        width: 280px
    }
}

@media (min-width:992px) {
    .subscribe-block--form {
        width: 415px
    }
    .subscribe-block--info {
        width: 290px
    }
    .subscribe-block--info2 .course-item {
        width: 290px
    }
}

@media (min-width:1200px) {
    .subscribe-block--info2 {
        flex-direction: column;
        width: 290px
    }
    .subscribe-block--info2 .course-item {
        width: 100%
    }
}

.badge-secondary {
    color: #464646;
    background-color: #e5edef
}

.badge-pill {
    padding-right: 30px;
    padding-left: 30px;
    font-size: 14px;
    margin: 10px 10px 10px;
    border-radius: 10rem;
    display: flex;
    flex-direction: row;
    max-width: 450px;
    width: 450px;
    vertical-align: middle;
    height: 60px;
    align-items: center;
    justify-content: left;

}
.pill-container{
    display: inline-flex;
}

@media(max-width: 576px){
    .pill-container {
        display: flex;
        flex-direction: column;
    }
    .badge-pill{
        width: initial;

    }
}

section.section-results .section-text {

    background-color: #f2f2f2;
}

.col-auto1 {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    border: 2px solid #4d94a1;
    border-radius: 15px;
    padding: 15px;
    margin: 10px 10px 10px;
    background: white;
}
.bakalavriat .col-auto1{
    border: 2px solid #cbc0d0;
}
.bakalavriat .grid-container{
    background: linear-gradient(45deg, #925592, #e98958);
}
.bakalavriat .grid-container-item .btn{
    padding: 25px 100px;
}

.grid-container {
    background: linear-gradient(45deg, #4a919e, #40b28b);
    border-radius: 15px;
    padding: 40px;
}
.grid-instruction-row {
    display: flex;
    justify-content: space-between;
}
.grid-container-item.grid-instuction-bold{
    font-size: 24px;
    font-weight: bold;
}
.grid-container-item{
    color: white;
    font-size: 20px;
    max-width: 45%;
    padding: 10px;
}
.grid-container-item .btn{
    padding: 25px 150px;
}
@media (max-width: 1000px) {
    .grid-instruction-row {
        flex-direction: column;
        align-items: center;
    }

    .grid-container-item {
        max-width: 100%;
        margin: 10px;
    }
}
@media (max-width: 500px){
    .grid-container-item {
        width: 100%;
    }
    .bakalavriat .grid-container-item .btn, .grid-container-item .btn{
        padding: 25px 0;
        width: 100%;
    }
}

.grid-container1 {
    background: linear-gradient(45deg, #925592, #e98958);
    border-radius: 15px;
   padding: 40px;
}

.row1 {
    color: #ffffff;
    font-size: 24px;
    font-weight:700;
}
.row2 {
    color: #ffffff;
    font-size:20px;
   
   
}
.col1{
    text-align:center ;
   
}
.list-group1{
    background: linear-gradient(45deg, #4a919e, #40b28b);
    padding: 0px;
    border-radius: 15px 0 0 15px;

}


.changing_div {
    position: absolute;
    display: none;
    background-color: #f2f2f2;
}
/* для кнопок в блоке resalt*/
.btn-group button {
    display: inline-block;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    text-align: center;
    outline: none;

    text-decoration: none;
    color: white; /* White text */
    padding: 10px 24px; /* Some padding */
    float: left; /* Float the buttons side by side */
}

.btn-group button:not(:last-child) {
    border-right: none; /* Prevent double borders */
}

/* Clear floats (clearfix hack) */
.btn-group:after {
    content: "";
    clear: both;
    display: table;
}

/* Add a background color on hover */
.btn-group button:hover {
    background-color: #c8e59c;
    border-radius: 15px 0 0 15px;
}
/*-----*/

.disciplin {
    padding: 30px;
    font-size:16px;
}


.section-competencies .gradient-container{
    padding-top: 150px;
    padding-bottom: 180px;
}

/*footer*/
.contact{
    font-size: 15px;
    display: table-cell;
    padding-left: 10px;
    text-transform: uppercase;
    margin: auto;
}
.contact-fade {
    opacity: .65;
}
.contact-bold {
    font-weight: bold;
    font-size: 20px;
}
.social-transparent {
    opacity: .35;
    width: 35px;
    max-width: 35px;
    height: 35px;
    max-height: 35px;
    margin-left: 30px;

}
footer {
    background:#fff;
    padding-top:50px;
    padding-bottom:50px
}
/* row align-items-center justify-content-center flex-lg-row justify-content-lg-between */
header .header-row, footer .footer-row{
    display: flex;
}
header .header-container, footer .footer-container{
    align-self: flex-end;
    justify-content: center;
    margin: auto 0 auto auto;
}
.contact-row{
    display: inline;
}
header .contact-row{
    display: inline-flex;
}
header .header-container:first-child, footer .footer-container:first-child{
    align-self: flex-start;
    margin: auto auto auto 0;
}
header .header-container:last-child, footer .footer-container:last-child {
    align-self: flex-start;
}
header .header-container:last-child{
    display: flex;
    vertical-align: center;
}

.logo-icon{
    width:75px;
    min-width:75px;
    height:75px;
    margin-right:16px
}
header .logo-icon{
    background:url(main/css/../i/logo-color.png) no-repeat;
}
footer .logo-icon {
    background: url(new_landing/logo-footer.png) no-repeat;
    background-size: contain;
}
.logo-text {
    font-size:12px;
    font-weight: bold;
    line-height:1.25;
    color:#1c1d21;
    padding-bottom: 15px;
}
.logo-subtext {
    font-size: 8px;
    text-transform:uppercase;
    line-height:1.25;
    color:#1c1d21
}



.social-icon {
    align-items:center;
    justify-content:center;
    width: 45px;
    max-width: 45px;
    height: 45px;
    max-height: 45px;
    transition:background-color .15s ease-in-out;
    display: block;
    margin-right: 20px;
}

.vk, .whatsapp, .instagram {
    width: 40px;
    max-width: 40px;
    height: 40px;
    max-height: 40px;
}
footer .copyright {
    color:#767676;
    font-size:14px;
    text-align:center;
    padding-top:25px
}
.social-row {
    display: flex;
    justify-content: space-evenly;
}

.contacts-table {
    flex-direction: row;
    display: flex;
    justify-content: center;
}
.contacts-table-info{
    margin-right: 150px;
}

.contacts-white-headline {
    color: white;
    font-size: 30px;
    font-weight: bold;
    padding-bottom: 44px;
}
.contacts-white-text {
    color: white;
    font-size: 18px;
    padding-bottom: 54px;
}
.contacts-table-subinfo {
    table-layout: fixed;
}
.contacts-table-subinfo .row .subinfo-cell {
    min-width: 50%;
    padding-bottom: 32px;
}
.contacts-table-form {
    width: 446px;
    max-height: 506px;
    padding: 60px 75px;
    background: white;
    border-radius: 35px;
}
.contacts-form-field {
    margin-bottom: 27px;
    height: 52px;
}
.contacts-form-input{
    height: 100%;
    width: 100%;
    font-size: 15px;
    padding: 15px 28px;
}
.contacts-form-field .input[type='text']::placeholder{
    font-size: 15px;
    font-weight: lighter;
}
.contacts-button-submit{
    width: 300px;
    height: 70px;
    font-size: 21px;
    background: #d7ec9d;
    border-radius: 35px;
    border: none;
    font-weight: bold;
}

.contacts-button-documents{
    max-width: 446px;
    width: 100%;
    height: 70px;
    border-radius: 35px;
    background: #b2dee1;
    border: none;
    font-size: 18px;
    font-weight: bold;
    margin: 46px 0;
}

.img-tick{
    box-sizing: border-box;
    background: url(new_landing/red-mark.jpg) no-repeat;
    width: 29px;
    height: 30px;
    padding-left: 35px;
}
@media (max-width: 1500px) {
    .green-gradient-holder{
        padding: 130px 60px;
    }
    .contacts-table-info{
        margin-right: 100px;
    }
    .programs-list .program-item .program-title{
        font-size: 28px;
    }

}
@media (max-width: 1000px) {
    .left-right-content .item{
        display: flex;
        flex-direction: column;
    }
    .left-right-content .item .photo{
        transform: unset;
        max-width: 100%;
        top: 0;
        left: 0;
        right: 0;
    }
    .left-right-content .item .info{

        position: relative;
        width: 100%;
        padding: auto;
    }
    .left-right-content .item .info .info-name{
        padding-top: unset;
        text-align: center;
    }


    .contacts-table{
        flex-direction: column;
    }
    .contacts-table-info{
        margin-right: unset;
    }
    .contacts-table-subinfo button{
        justify-self: center;
    }
    .contacts-table-form{
        align-self: center;
    }
    .programs-list .program-item .program-title{
        font-size: 25px;
    }
    .social-icon{
        margin: 0 10px;
    }

}

@media(max-width: 576px) {
    header .header-row, footer .footer-row, header .header-container:last-child {
        flex-direction: column;
    }
   header .header-container, header .header-container:last-child,
   footer .footer-container, footer .footer-container:last-child{
        margin: 10px 0;
        align-self: center;
    }
    .left-right-content .item{
        padding: 30px 1%;
    }
    .green-gradient-holder{
        padding: 60px 10px;
    }
    .programs-list .program-item .program-title{
        font-size: 20px;
    }
    header .contact-bold,
    footer .contact-bold{
        font-size: 18px;
    }
    footer .contact-fade{
        font-size: 14px;
    }



}
