.contacts-table {
    flex-direction: row;
    display: flex;
    justify-content: center;
}
.contacts-table-info{
    margin-right: 150px;
}

.contacts-white-headline {
    color: white;
    font-size: 30px;
    font-weight: bold;
    padding-bottom: 44px;
}
.contacts-white-text {
    color: white;
    font-size: 18px;
    padding-bottom: 54px;
}
.contacts-table-subinfo {
    table-layout: fixed;
}
.contacts-table-subinfo .row .subinfo-cell {
    min-width: 50%;
    padding-bottom: 32px;
}
.contacts-table-form {
    width: 446px;
    max-height: 506px;
    padding: 60px 75px;
    background: white;
    border-radius: 35px;
}
.contacts-form-field {
    margin-bottom: 27px;
    height: 52px;
}
.contacts-form-input{
    height: 100%;
    width: 100%;
    font-size: 15px;
    padding: 15px 28px;
}
.contacts-form-field .input[type='text']::placeholder{
    font-size: 15px;
    font-weight: lighter;
}
.contacts-button-submit{
    width: 300px;
    height: 70px;
    font-size: 21px;
    background: #d7ec9d;
    border-radius: 35px;
    border: none;
    font-weight: bold;
}

.contacts-button-documents{
    width: 446px;
    height: 70px;
    border-radius: 35px;
    background: #b2dee1;
    border: none;
    font-size: 18px;
    font-weight: bold;
    margin: 46px 0;
}