div.wrapper{
 position: static;
}
section.section-welcome{
 background: none;
 position: static;
}
section.section-welcome .background{
 background: url(../new_landing/bg-landing.png) no-repeat top right ;
 position: absolute;
 top: 0;
 height: 100%;
 width: 100%;
 z-index: -1;
}
section.section-welcome .section-content{
 padding-bottom: 0;
}
section.section-welcome .main-container{
 max-width: 1440px;
 margin-left: auto;
 margin-right: auto;
}
section.section-welcome .main-container .main-container--title{
 color: #3878c1;
 font-size: 40px;
 font-weight: bold;
 -webkit-text-stroke-width: 1px;
 -webkit-text-stroke-color: white;
}
section.section-welcome .main-container .main-container--text{
 font-size: 20px;
 color: #464646;
 max-width: 900px;
 padding-right: 0;

}
section.section-welcome .main-row{
 display: flex;
 flex-direction: row;

 justify-content: space-between;
 align-items: center;
}
section.section-welcome .main-item{
 background: white;
 border: 4px solid #3878c1;
 margin: 0 25px;
 min-width: 400px;
 padding: 50px;

 border-radius: 20px;
 max-width: 550px;
 /*flex: 0 0 auto;*/
}
section.section-welcome .main-item--text{
 color: black;
 text-align: center;
 font-size: 25px;
 font-weight: bold;
}
@media (max-width: 1440px) {
 section.section-welcome .main-container{
  max-width: 1000px;
 }
 section.section-welcome .main-item{
  padding: 30px;
  min-width: 300px;


 }
 section.section-welcome .main-item--text{
  font-size: 20px;

 }
}
@media (max-width: 1000px) {
 section.section-welcome .main-item{
  padding: 20px;
  min-width: 200px;


 }
 section.section-welcome .main-item--text{
  font-size: 15px;

 }
 section.section-welcome .main-container .main-container--text{
  background-color: #ffffff80;
  border-radius: 10px;
 }
}

@media (max-width: 720px) {
 section.section-welcome .main-row{
  flex-direction: column;

 }
 section.section-welcome .main-item{
  margin: 25px 0;
  width: 75%;

 }
}



.white-holder .headline{
 color: #3878c1;
}

.gradient-navbar{
 background: linear-gradient(90deg, #3685e2 0%, #0c59b3 100%);
}
.gradient-navbar .choices{
 padding: 40px 0;
}
.gradient-navbar .choices div.choice-wrap-after{
 background: white;
}
.gradient-navbar .choices .choice-wrap.chosen{
 background: #94c3fb;
}
.gradient-navbar .choices .choice-wrap:hover{
 background: #94c3fb;
}

.rows-wrapper{
 width: 75%;
 display: flex;
 flex-direction: row;
 align-self: center;
}
.long-row{
 display: flex;
 flex-direction: column;
 margin: 15px;
 width: 50%;
 position: relative;

}
.long-row .long-row--head{
 color: white;
 font-size: 30px;
 font-weight: bold;
 padding: 40px;
 background: linear-gradient(90deg, #3684e2 0%, #0c5ab3 100%);
 width: 100%;
 border-radius: 20px;
 text-align: center;
}
.long-row .long-row--item{
 margin: 40px 10px;
 font-size: 18px;
 height: 100px;
}
.long-row .long-row--item--after{
 height: 1px;
 content: '';
 max-height: 1px;
 width: 100%;
 left: 0;
 margin-top: inherit;
}

.long-row.bachelors .long-row--item--after {
 background: #792e7b;
}
.long-row.masters .long-row--item--after {
 background: #217989;
}

.long-row .long-row--item-name{
 margin-bottom: 30px;
 font-size: 18px;
}
.long-row .long-row--item-value{
 font-size: 16px;
}

.frame{
 font-size: 22px;
 width: 75%;
 padding: 45px;
 display: flex;
 align-self: center;
 justify-content: space-between;
 flex-direction: row;
 border: #3878c1 solid 4px;
 border-radius: 20px;

}
.frame .frame-text{
 text-transform: uppercase;
 text-align: center;
 margin: auto;

}
.frame .button-wrapper{
 width: 50%;
 display: flex;
 height: 70px;
 padding: auto;
}
.frame .frame-button{
 font-weight: bold;
 align-self: center;
 background-color: #3878c1;
 width: 75%;
 height: 100%;
 border-radius: 35px;
 border-width: 0;
 color: black;
 margin: auto;
}
.frame .frame-button:hover{
 color: white;
}

@media (max-width: 1300px) {
 .long-row .long-row--item-value {
  font-size: 12px;
 }
 .long-row .long-row--item-name{
  font-size: 16px;
 }

}
@media (max-width: 1080px) {
 .rows-wrapper{
  flex-direction: column;
 }
 .rows-wrapper .long-row{
  width: 100%;
 }
 .long-row .long-row--item {
  height: inherit;
 }
 .long-row .long-row--item-value {
  font-size: initial;
 }
 .long-row .long-row--item-name{
  font-size: initial;
 }


 .frame{
  flex-direction: column;
 }
 .frame .button-wrapper{
  width: 100%;
  margin-top: 30px;
 }
}
@media (max-width: 500px) {
 .long-row .long-row--head{
  padding: 40px 10px;
 }
 .frame{
  font-size: 15px;
 }

}